<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ICHING.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ICHING.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ICHING.Properties.Settings.IchiConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Ichi.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <userSettings>
        <ICHING.Settings1>
            <setting name="Language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StorageDirPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="HexagranColorGeneral" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="HexagramColorChangable" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PreferedMethod" serializeAs="String">
                <value>0</value>
            </setting>
        </ICHING.Settings1>
    </userSettings>
    <applicationSettings>
        <ICHING.Settings1>
            <setting name="ConnectionString" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\\Ichi.mdb</value>
            </setting>
        </ICHING.Settings1>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
